node_modules
dist
.vite
.env
.env.local
cache
.cache
.local
chattts
src-tauri/target
src-tauri/gen
*.log
*.wav
*.mp3
*.flac
*.sqlite
*.db
data/bilibili/
data/library/
data/debug/
data/exports/
public/data/
